<html>
  <body>
    <center>
      <h3>Original Url: <%= @original_url %></h3>
      <h3>Short Url: <%= @short_url %></h3>
      <h3>Visitors: <%= @visitors_count %></h3>
    </center>
  </body>
</html>
